@model IEnumerable<ImperialRegister.Models.Role>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label for="name" class="control-label">Name</label>
        </th>
        <th>
            <label for="description" class="control-label">Description</label>
        </th>
        <th>
            <label for="create_date" class="control-label">Created</label>
        </th>
        <th>
            <label for="update_date" class="control-label">Updated</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.create_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.update_date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
